@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');
/*Resetear Index*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
/*Font*/
body {
    font-family: 'Poppins', sans-serif;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.header {
    background-image: url();
    background-position: center bottom;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    min-height: 70vh;
    padding: 80px 0 0 0;
    margin-bottom: 80px;
}

.menu {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.logo img{
    width: 200px;
}

.menu .navbar  ul li {
    position: relative;
    float: left;
}

.menu .navbar  ul li a {
    font-size: 18px;
    padding: 20px;
    color: #111111;
    display: block;
    font-weight: 600;
}

.menu .navbar  ul li a:hover {
    color: #83072D;
}
/*Redes Sociales*/
.socials-1 img {
    width: 30px;
    margin-right: 15px;
}

#menu {
    display: none;
}

.menu-icono {
    width: 25px;
}

.menu label {
    cursor: pointer;
    display: none;
}


.header-content {
    display: flex;
}

.header-txt {
    width: 50%;
}

.header-txt h1 {
    font-size: 70px;
    line-height: 85px;
    color: #FBFCFF;
    margin-bottom: 20px;
}

.header-txt span {
    font-size: 70px;
    color: #83072D;
}

.header-txt p {
    font-size: 16px;
    color: #C4C4CE;
    margin-bottom: 30px;
}

.header-img {
    width: 50%;
    text-align: center;
}

.header-img img {
    width: 300px;
}
/*Fin Header*/
.buttons {
    display: flex;
}

.btn-1 {
    display: inline-block;
    padding: 13px 20px;
    border: 1px solid  #83072D;
    color: #83072D;
    border-radius: 15px;
    margin-right: 30px;
    font-size: 16px;
    text-transform: capitalize;
}

.btn-1:hover {
    background-color: #83072D;
    color: #FFFFFF;
}

.menu-p1 {
    padding: 0 0 100px 0;
}

h2 {
    font-size: 50px;
    color: #292933;
    margin-bottom: 40px;
}

span {
    color: #83072D;
}


/*Footer*/
.footer {
    border-top: 2px solid #83072D;
    padding: 50px 0 0 0;
}

.footer-links {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.link-img {
    text-align: center;
}

.link-img img {
    width: 200px;
    margin-bottom: 10px;
}

.socials-2 img {
    width: 30px;
    margin: 10px;
}

.link h3 {
    font-size: 22px;
    color: #3F3F3F;
    margin-bottom: 15px;
}

.link a {
    font-size: 18px;
    display: block;
    color: #3F3F3F;
    margin-bottom: 20px;
}

.link a:hover {
    color: #83072D;
}

.footer-copy {
    padding: 25px 0;
    text-align: center;
    border-top: 2px solid #83072D;
}

.footer-copy p {
    color: #83072D;
    font-size: 16px;
    margin: 0;
}